@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*, html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Serif;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 25px 50px 25px 50px;
}

.logo2 {
    width: 50px;
    height: 50px;
    padding: 25px 50px;
}

.logo:hover {
    background-color: #2CDA9D;
    color: #F3F3F3;
    border-radius: 15px;
    transition: ease-in 0.2s;
}

#CodingQualifications {
    margin-top: 15px;
    background-color: #79EAF2;
}

header {
    text-align: right;
    margin: 25px 80px;
    font-size: 20px;
}

    header a {
        text-decoration: none;
        display: inline-block;
        margin: 0px 25px;
        color: #333;
    }

        header a:hover {
            color: #79EAF2;
            transition: ease-in .25s;
        }

#Greetings {
    font-size: 45px;
    width: 90%;
}

footer {
    background-color: #0A5A61;
    color: #F3F3F3;
    padding: 14px;
}

#introduction {
    margin-left: 20px;
    color: #333;
    margin-top: 20px;
    line-height: 55px;
}

#bottom-of-page {
    text-align: center;
}

#SamplePortfolios {
    margin: 20px 0px;
}

    #SamplePortfolios h1 {
        text-align: center;
    }

#ContactSection {
    margin: 20px 0px 0px 0px;
    padding: 25px 0px;
    background-color: #2CDA9D;
    text-align: center;
}

    #ContactSection h1 {
        text-align: center;
    }

    #ContactSection a i {
        color: #030303;
        margin: 20px 0px;
        padding: 0px 35px;
        display: inline-block;
        font-size: 50px;
    }

    #Projects{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
.Project {
    display: inline-block;
    background-color: #2CDA9D;
    border-style: solid;
    border-color: lightgray;
    color: #333;
    border-width: 2px;
    text-align: center;
    width: 400px;
    height: 550px;
    margin: 0px 20px;
    margin-bottom: 20px;
}

    .Project h3, p {
        text-decoration-style: none;
        margin: 10px 0px;
    }

    .Project:hover {
        border-color: black;
    }

.ProjectPic{
    width: 400px;
    height: 450px;
}
#ContactSection a i:hover {
    color: #2c69da;
    transition: ease-in .03s;
}
